.main-bg {
    height: 100vh;

    .container-section {
        .book-section {
            width: 50vw;
            display: flex;
            flex-direction: column;
            align-items: center;
            z-index: 2;
            overflow-y: scroll;

            .finger-icon {
                margin-top: 40px;
                width: 100px;
                opacity: 0.35;
            }

            .page-title {
                color: $main-color;
                font-family: "DinPro", sans-serif;
                font-size: 24px;
                text-transform: uppercase;
                text-align: center;
                margin-top: 33px;
                margin-bottom: 0px;
            }

            .page-subtitle {
                color: $main-color;
                font-family: "DinPro", sans-serif;
                font-size: 14px;
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 0px;
            }

            .btn-section {
                display: flex;
                justify-content: space-between;
                margin-top: 40px;

                .appointment-btn {
                    width: 32%;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    background-color: $main-color;
                    color: white;
                    -webkit-border-radius: 20px;
                    -moz-border-radius: 20px;
                    -ms-border-radius: 20px;
                    border-radius: 20px;
                    font-size: 14px;
                    font-family: 'DinPro Medium', sans-serif;
                    cursor: pointer;
                    border: 0.1rem solid $main-color;
                }

                .appointment-btn:hover {
                    background: $success;
                    border: 0.1rem solid $success;
                }
            }

            .selected-item {
                width: 100%;
                padding-top: 8px;
                padding-bottom: 8px;
                background-color: $success;
                color: white;
                -webkit-border-radius: 20px;
                -moz-border-radius: 20px;
                -ms-border-radius: 20px;
                border-radius: 20px;
                font-size: 16px;
                font-family: 'DinPro', sans-serif;
                cursor: pointer;
                border: 0.1rem solid $success;
                margin-bottom: 0px;
                padding-left: 20px;
                padding-right: 20px;
                text-align: center;
                text-transform: uppercase;
                position: relative;
                display: flex;
                flex-direction: column;
                justify-content: center;

                .selected-text {
                    margin-bottom: 0px;
                }

                img {
                    width: 16px;
                    position: absolute;
                    right: 20px;
                }
            }

            .option-box {
                background-color: $white;
                border-radius: 15px;
                color: $main-color;
                margin-top: 8px;

                .option-item {
                    text-align: center;
                    padding-top: 8px;
                    padding-bottom: 8px;
                    cursor: pointer;
                    text-transform: uppercase;
                    font-size: 14px;
                    font-family: 'DinPro Medium', sans-serif;
                }

                .first-item {
                    border-top-left-radius: 15px;
                    border-top-right-radius: 15px;
                }

                .last-item {
                    border-bottom-left-radius: 15px;
                    border-bottom-right-radius: 15px;
                }

                .option-item:hover {
                    background-color: $success;
                    color: $white;
                }
            }

            .info-section {
                display: flex;
                justify-content: space-between;

                .info-box {
                    width: 49%;

                    .input-field {
                        width: 100%;
                        padding-top: 8px;
                        padding-bottom: 8px;
                        padding-left: 20px;
                        padding-right: 20px;
                        background-color: $main-color-35;
                        -webkit-border-radius: 10rem;
                        -moz-border-radius: 10rem;
                        -ms-border-radius: 10rem;
                        border-radius: 10rem;
                        font-size: 16px;
                        font-family: 'DinPro', sans-serif;
                        border: 0px;
                        margin-bottom: 40px;
                        color: $white;
                    }

                    .input-field::placeholder {
                        color: $white;
                    }

                    .date-format {
                        text-transform: lowercase;
                    }

                    .info-text {
                        color: $main-color;
                        font-family: "DinPro", sans-serif;
                        font-size: 16px;
                        text-transform: uppercase;
                        margin-left: 20px;
                        margin-bottom: 10px;
                        margin-top: 20px;
                    }
                }
            }

            .continue-btn {
                width: 32%;
                padding-top: 8px;
                padding-bottom: 8px;
                background-color: $main-color;
                color: white;
                -webkit-border-radius: 10rem;
                -moz-border-radius: 10rem;
                -ms-border-radius: 10rem;
                border-radius: 10rem;
                font-size: 16px;
                font-family: 'DinPro', sans-serif;
                cursor: pointer;
                border: 0.1rem solid $main-color;
                margin-bottom: 40px;
            }

            .continue-btn:hover {
                background: $success;
                border: 0.1rem solid $success;
            }

            .page-footer {
                color: $main-color;
                font-family: "DinPro", sans-serif;
                font-size: 14px;
                text-align: center;

                .visit {
                    text-decoration: underline;
                    font-family: "DinPro Medium", sans-serif;
                    color: $main-color;
                }

                .visit:hover {
                    color: $success;
                }
            }

            .dropdown-section {
                display: flex;
                justify-content: space-between;

                .dropdown {
                    width: 49%;

                    .dropdown-title {
                        color: $main-color;
                        font-family: "DinPro", sans-serif;
                        font-size: 16px;
                        text-transform: uppercase;
                        margin-left: 20px;
                        margin-bottom: 10px;
                        margin-top: 30px;
                    }
                }
            }
        }
    }
}


@media only screen and (max-width: 1080px) {
    .main-bg {
        .container-section {
            .video-section {
                display: block;
            }

            .video-section-mobile {
                display: none;
            }

            .book-section {
                width: 45vw;

                .page-title {
                    line-height: 22px;
                    margin-bottom: 8px;
                }

                .info-section {
                    display: block;

                    .info-box {
                        width: 100%;

                        .input-field {
                            margin-bottom: 0px;
                        }

                        .date-text {
                            margin-top: 12px;
                        }
                    }
                }

                .continue-btn {
                    width: 100%;
                    margin-top: 40px;
                }

                .dropdown-section {
                    display: block;

                    .dropdown {
                        width: 100%;

                        .select-dropdown-title {
                            margin-top: 20px;
                        }
                    }
                }

                .desktop-version {
                    display: none;
                }

                .mobile-version {
                    display: block;
                }
            }
        }
    }
}

@media only screen and (max-width: 575.98px) {
    .main-bg {
        .container-section {
            .video-section {
                display: none;
            }

            .video-section-mobile {
                display: block;
            }

            .book-section {
                width: 90vw;

                .page-title {
                    line-height: 22px;
                    margin-bottom: 8px;
                }

                .info-section {
                    display: block;

                    .info-box {
                        width: 100%;

                        .input-field {
                            margin-bottom: 0px;
                        }

                        .date-text {
                            margin-top: 12px;
                        }
                    }
                }

                .continue-btn {
                    width: 100%;
                    margin-top: 40px;
                }

                .dropdown-section {
                    display: block;

                    .dropdown {
                        width: 100%;

                        .select-dropdown-title {
                            margin-top: 20px;
                        }
                    }
                }
            }
        }
    }
}
