.main-bg {
    height: 100vh;

    .faq-section {
        position: absolute;
        height: calc(100vh - 120px);
        top: 80px;
        overflow-y: scroll;
        width: 100%;
        color: $main-color;
        display: flex;
        flex-direction: column;
        align-items: center;

        .content-section {
            width: 50%;

            .question {
                font-size: 16px;
                font-family: 'Montserrat SemiBold', sans-serif;
                margin-bottom: 0px;
                text-align: justify;
            }

            .answer {
                font-size: 14px;
                font-family: 'Montserrat Regular', sans-serif;
                margin-bottom: 0px;
                text-align: justify;
            }
        }
    }

    .faq-section::-webkit-scrollbar{
        width: 10px;
        cursor: pointer;
    }
    
    .faq-section::-webkit-scrollbar-thumb {
        background-color: #003366;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .faq-section::-webkit-scrollbar-track {
        background-color: #0f609c;
    }
}

@media only screen and (max-width: 1080px) {
    .main-bg {
        .faq-section {
            .content-section {
                width: 80%;
            }
        }
    }
}

@media only screen and (max-width: 575.98px) {
    .main-bg {
        .faq-section {
            .content-section {
                width: 90%;
            }
        }
    }
}
