.container-section {
    .menu-bg {
        top: 0;
    }
    .video-section {
        min-height: calc(100vh - 120px);
    }
    .video-section-mobile {
        min-height: calc(100vh - 120px);
    }
    .menu-bg {
        min-height: calc(100vh - 120px);
    }
    .menu-bg-mobile {
        min-height: calc(100vh - 120px);
    }
    .money-section {
        width: 100%;
        height: calc(100vh - 120px);
        position: absolute;
        top: 80px;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 2;
        overflow-y: scroll;
        .money-section-content {
            min-height: calc(100vh - 120px);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }
        .icon {
            width: 120px;
        }
        .title {
            font-size: 28px;
            font-family: 'Montserrat Medium', sans-serif;
            margin-top: 40px;
            margin-bottom: 40px;
            color: white;
            text-align: center;
        }
        .subtitle {
            font-size: 16px;
            font-family: 'Montserrat Regular', sans-serif;
            color: white;
            line-height: 0px;
            text-align: center;
        }
    }

    .money-section::-webkit-scrollbar{
        width: 10px;
        cursor: pointer;
    }
    
    .money-section::-webkit-scrollbar-thumb {
        background-color: #003366;
        border-radius: 5px;
        cursor: pointer;
    }
    
    .money-section::-webkit-scrollbar-track {
        background-color: #0f609c;
    }
}
@media only screen and (max-width: 1080px) {
    .container-section {
        .money-section {
            width: 100vw;
            .title {
                font-size: 24px;
                margin-top: 25px;
                margin-bottom: 25px;
            }
        }
    }
}
@media only screen and (max-width: 575.98px) {
    .container-section {
        .video-section {
            display: none;
        }
        .video-section-mobile {
            display: block;
        }
        .money-section {
            width: 100%;
            .title {
                font-size: 24px;
            }
        }
    }
}
