.solution-section {
    .image-section {
        width: 100vw;
        height: 30vw;
        background-repeat: no-repeat;
        display: flex;
        background-attachment: fixed;
        .intro-header {
            font-family: "Montserrat Bold", sans-serif;
            font-size: 36px;
            line-height: 48px;
            color: $white;
            text-transform: uppercase;
            margin-bottom: 0px;
            margin-left: 100px;
        }
    }
    .first-image-section {
        background-image: url("/images/Image03.png");
        background-size: cover;
    }
    .second-image-section {
        background-image: url("/images/Image04.png");
        background-size: cover;
    }
    .title-section {
        padding-top: 20px;
        padding-bottom: 20px;
        .intro-title {
            color: $white;
            font-size: 21px;
            font-family: "Montserrat SemiBold", sans-serif;
            margin-bottom: 0px;
        }
        .first-title {
            margin-left: 100px;
        }
        .second-title {
            margin-left: 25px;
        }
    }
    .shown-title-section {
        background-color: $success;
    }
    .hidden-title-section {
        background-color: $success;
    }
    .first-hidden-title-section {
        margin-top: 50px;
        margin-bottom: 100px;
    }
    .first-hidden-title-section-mobile {
        margin-bottom: 50px;
    }
    .second-hidden-title-section {
        margin-top: 50px;
    }
    .less-header-second {
        background-color: $success;
    }
    .content-section {
        padding-top: 100px;
        padding-bottom: 100px;
        .intro-content {
            font-size: 16px;
            font-family: "Montserrat Regular", sans-serif;
            line-height: 24px;
            color: $main-color;
            text-align: justify;
            margin-bottom: 50px;
        }
        .strong-text {
            margin-bottom: 15px;
        }
        .content-first {
            margin-left: 100px;
            margin-right: 25px;
        }
        .content-second {
            margin-left: 25px;
            margin-right: 100px;
        }
        .read-more-btn {
            width: 20%;
            padding-top: 8px;
            padding-bottom: 8px;
            margin-left: 100px;
            background-color: $main-color;
            color: white;
            -webkit-border-radius: 10rem;
            -moz-border-radius: 10rem;
            -ms-border-radius: 10rem;
            border-radius: 10rem;
            font-size: 16px;
            font-family: "DinPro", sans-serif;
            cursor: pointer;
            border: 0.1rem solid $main-color;
        }
        .first-btn {
            margin-left: 100px;
        }
        .second-btn {
            margin-left: 25px;
        }
        .read-more-btn:hover {
            background: $success;
            border: 0.1rem solid $success;
        }
        .icon {
            opacity: 0.3;
            width: 120px;
            margin-bottom: 50px;
        }
        .icon-second {
            opacity: 0.3;
            width: 120px;
        }
        .hidden-icon-first {
            margin-top: 270px;
        }
        .cloud-icon {
            margin-top: -30px;
        }
    }
    .half-bottom {
        padding-bottom: 50px;
    }
    .first-content-section {
        padding-left: 100px;
        padding-right: 25px;
    }
    .second-content-section {
        padding-left: 25px;
        padding-right: 100px;
    }
    .mobile-version {
        display: none;
    }
}

.solution-section::-webkit-scrollbar {
    width: 10px;
    cursor: pointer;
}

.solution-section::-webkit-scrollbar-thumb {
    background-color: #003366;
    border-radius: 5px;
    cursor: pointer;
}

.solution-section::-webkit-scrollbar-track {
    background-color: #0f609c;
}

@media only screen and (max-width: 575.98px) {
    .solution-section {
        .image-section {
            background-position: unset;
            height: 60vw;
            .intro-header {
                text-align: center;
                margin-left: 0px;
                width: 100%;
                font-size: 28px;
                line-height: 40px;
            }
        }
        .first-image-section {
            background-image: url("/images/Image03Mobile.png");
            background-size: cover;
        }
        .second-image-section {
            background-image: url("/images/Image04Mobile.png");
            background-size: cover;
        }
        .title-section {
            width: 100vw;
            padding-left: 45px;
            padding-right: 45px;
            display: flex;
            .intro-title {
                margin-left: 0px;
                text-align: center;
            }
        }
        .content-section {
            padding-top: 50px;
            padding-bottom: 50px;
            .content-first {
                margin-left: 20px;
                margin-right: 20px;
            }
            .content-second {
                margin-left: 20px;
                margin-right: 20px;
            }
            .read-more-btn {
                width: 70%;
                margin-left: 0px;
            }
            .icon {
                margin-bottom: 50px;
            }
            .icon-second {
                margin-bottom: 50px;
            }
        }
        .pc-version {
            display: none;
        }
        .mobile-version {
            display: block;
        }
    }
}
