$main-color: #003366;
$main-color-35: #003c7159;
$main-color-50: #00336680;
$main-color-75: #003366bf;
$transparent: transparent;
$success: #8bc53f;
$white: white;
$white-05: #ffffff10;
$white-15: #ffffff26;
$white-20: #ffffff33;
$white-90: #ffffffe6;
$orange: #f06522;
$text-background: #338dc9;
$hover-color: #00a9ea;
$menu-bg: #b2c8db;