body {
    font-family: "DinPro", sans-serif;
    background-color: #003366;
    color: white;
}

.container-fluid {
    padding-left: 20px;
    padding-right: 20px;
}

.headerSection {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    transition: 0.3s;
    z-index: 99;
}

.headerSection nav.navbar {
    height: 80px;
    background-color: #003366;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    padding: 0 0 !important;
}

.headerSection nav.navbar .navbarItem {
    flex: 1;
}

.headerSection nav.navbar .navbarItem a {
    color: #fff;
    font-size: 18px;
    font-family: "DinPro", sans-serif;
    text-decoration: none;
}

.headerSection nav.navbar .navbarItem a .menu-icon {
    width: 20px;
}

.headerSection nav.navbar .navbarItem a .chatbot-icon {
    width: 20px;
    margin-right: 20px;
    cursor: pointer;
}

.headerSection nav.navbar .navbarItem a .login-icon {
    width: 22px;
}

.headerSection nav.navbar .navbarItem a .logout {
    width: 22px;
}

.headerSection nav.navbar .navbarItem a .nav-menu {
    font-size: 12px;
    font-family: "Montserrat Regular", sans-serif;
    color: white;
    margin-bottom: 0px;
    margin-right: 5px;
}

.headerSection nav.navbar .navbarItem a.locate-button {
    cursor: pointer;
    font-family: 'DinPro Bold';
    font-size: 12px;
    display: inline-block;
    padding: 1px 5px;
    background-color: white;
    color: #003366;
    border-radius: 5px;
    transition: .3s;
}

.headerSection nav.navbar .navbarItem a.locate-button:hover {
    background-color: #00c6ff;
    transition: .3s;
}

.headerSection nav.navbar .navbarItem .navbar-menu-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-family: 'Din Pro', sans-serif;
    font-size: 12px;
    cursor: pointer;
    align-items: center;
    justify-content: center;
    margin-right: 20px;
}

.headerSection nav.navbar .navbarItem .navbar-menu-item:hover {
    color: #00c6ff;
}

.headerSection nav.navbar .navbarItem .navbar-login-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: 'Din Pro', sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.headerSection nav.navbar .navbarItem .navbar-login-item:hover {
    color: #00c6ff;
}
.headerSection nav.navbar .navbarItem .navbar-logout-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    font-family: 'Din Pro', sans-serif;
    font-size: 12px;
    cursor: pointer;
}
.headerSection nav.navbar .navbarItem .navbar-logout-item:hover {
    color: #00c6ff;
}
.headerSection .dark-bg {
    width: 100vw;
    height: 100vh;
    background-color: #003366;
    opacity: 0.5;
    z-index: 100;
    display: none;
    transition: .5s;
}

.dark-bg.block {
    display: block;
}


.video-wrapper {
    width: 100%;
    height: 100vh;
}

.video-wrapper .content .play-video {
    width: 40px;
}

.video-wrapper .content .go-to-menu {
    width: 20px;
}

.video-wrapper .content .go-to-login {
    width: 20px;
}

.navbar-brand img {
    width: 50px;
}

.headerSection a.navbar-brand {
    padding: 0;
}

.headerSection nav.navbar .navbarItem .navbar-title {
    font-size: 18px;
    font-family: "DinPro", sans-serif;
}

.video-wrapper {
    position: relative;
}

.video-wrapper::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

.video-section {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    z-index: 2;
    position: absolute;
}

.video-section-mobile {
    width: 100%;
    height: calc(100vh - 80px);
    object-fit: cover;
    display: none;
    z-index: 2;
    position: absolute;
}

.content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
    color: white;
    width: 90%;
}

.landing-text {
    font-size: 28px;
    font-family: "Montserrat Medium", sans-serif;
    line-height: 46px;
    width: 100%;
}

#text-container {
    position: relative;
    width: 100%;
    overflow: hidden;
    height: 100px;
}

#text-container>* {
    position: absolute;
    left: 100%;
    top: 0;
    animation: 30s autoplay infinite ease-in-out;
}

@keyframes autoplay {
    0% {
        left: 100%;
    }

    2% {
        left: 0%;
    }

    33.33% {
        left: 0%;
    }

    35.33% {
        left: -100%;
    }

    100% {
        left: -100%;
    }
}

#text-container>*:nth-child(1) {
    animation-delay: 0s;
}

#text-container>*:nth-child(2) {
    animation-delay: 10s;
}

#text-container>*:nth-child(3) {
    animation-delay: 20s;
}

.continue-text {
    font-size: 12px;
    margin-top: 20px;
    margin-bottom: 5px;
    font-family: "DinPro", sans-serif;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 40px;
    z-index: 9;
    color: #ffffff;
    background-color: #003366;
    padding: 8px 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-left: 10%;
    padding-right: 10%;
}

footer .video-control {
    position: fixed;
    bottom: 22px;
    width: 100px;
    z-index: 10;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

footer .video-control a img {
    width: 36px;
}

footer .video-control .play .play-video {
    width: 36px;
}

footer .video-control .stop .stop-video {
    width: 36px;
}

footer .footer-header {
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

footer .angle-icon {
    font-size: 20px;
}

footer .legal-section {
    display: flex;
    flex-direction: column;
    width: 25%;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

footer .office-section {
    width: 50%;
    border-left: 1px solid white;
    border-right: 1px solid white;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

footer .social-section {
    width: 25%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    margin-left: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-right: 0px;
}

footer .social-section .icon-section {
    margin-left: 30px;
}

footer .social-section .icon-section .social-icon {
    width: 30px;
    margin-right: 15px;
    opacity: 0.5;
}

footer .office-section .country-column {
    width: 25%;
}

.footer-title {
    font-size: 16px;
    font-family: "DinPro Medium", sans-serif;
    margin-bottom: 0px;
    margin-left: 30px;
}

.footer-content {
    font-size: 14px;
    cursor: pointer;
    font-family: "DinPro", sans-serif;
    color: #ffffff80;
    margin-bottom: 0px;
    margin-top: 5px;
    margin-left: 30px;
}

.footer-content:hover {
    color: white;
}

footer .social-section .icon-section .social-icon:hover {
    opacity: 1;
}

.angle-icon:not(.collapsed) i {
    transform: rotate(-180deg);
}

.modal {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    visibility: hidden;
    transform: scale(1.1);
    transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}

.modal-header {
    height: 50px;
    z-index: 3;
    border: none;
    padding: 0;
}

.modal-section {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50vw;
    height: 95vh;
    border-radius: 0.5rem;
    background-color: white;
}

.modal-content {
    padding: 50px;
    height: calc(95vh - 100px);
    color: #003366;
    overflow-y: auto;
    border: none;
    padding-top: 0;
}

.modal-header .close-but {
    position: absolute;
    top: 20px;
    right: 20px;
}

.modal-header .close-but img {
    width: 25px;
    cursor: pointer;
}

.video-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0px;
    width: auto;
    height: 100vh;
}

.intro-video {
    width: auto;
    height: 100%;
}
::-webkit-scrollbar{
    width: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-thumb {
    background-color: #003366;
    border-radius: 5px;
    cursor: pointer;
}

::-webkit-scrollbar-track {
    background-color: #0f609c;
}
.show-modal {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
    transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
    display: block;
    transition: 0.5s;
}

.disc-ul {
    list-style-type: disc;
    padding-left: 15px;
}

.number-ul {
    list-style-type: decimal;
    padding-left: 15px;
}

.policy-modal .main-title {
    font-size: 24px;
    font-family: "DinPro Medium", sans-serif;
    text-align: justify;
    padding-bottom: 16px;
    font-weight: bold;
}

.policy-modal .sub-title {
    font-size: 16px;
    font-family: "DinPro Medium", sans-serif;
    margin-left: 32px;
    text-align: justify;
    font-weight: bold;
    padding-bottom: 16px;
}

.policy-modal .para-list {
    padding-left: 16px;
}

.policy-modal .para-list li {
    padding-left: 20px;
}

.policy-modal .para-list-digit {
    list-style-type: decimal;
    padding-left: 16px;
}

.policy-modal .para-list-digit li {
    padding-left: 20px;
}

.policy-modal table, .policy-modal tr, .policy-modal td, .policy-modal th {
    border: 1px solid black;
    text-align: left;
}

.policy-modal td, .policy-modal th {
    padding: 8px;
}

.policy-modal th {
    background-color: #003c714d;
}

.cookie-btn {
    width: 30%;
    margin-right: 14px;
    margin-bottom: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #003c71;
    color: white;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    border-radius: 10rem;
    font-size: 12px;
    font-family: "DinPro Light", sans-serif;
    cursor: pointer;
    border: 0.1rem solid #003c71;
}

.cookie-btn:hover {
    background: #8bc53f;
    border: 0.1rem solid #8bc53f;
}

.office-modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 45vw;
    color: #003c71;
    overflow-y: auto;
}

.office-info-section {
    width: 60%;
}

.logo-section {
    width: 40%;
    background: #003c71;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.country-name {
    font-family: "DinPro Medium", sans-serif;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    margin-top: 60px;
    margin-bottom: 25px;
}

.logo-white {
    width: 60%;
}

.information-section {
    color: #003c71;
    width: 80%;
    padding-left: 20px;
}

.arrow-section {
    width: 10%;
}

.arrow-section img {
    width: 10px;
}

.left-arrow {
    transform: rotate(180deg);
}

.cancel {
    position: absolute;
    top: 13px;
    width: 15px !important;
}

.city {
    font-family: "DinPro Medium", sans-serif;
    font-size: 16px;
    margin-bottom: 15px;
    margin-top: 60px;
}

.address {
    font-family: "DinPro", sans-serif;
    font-size: 16px;
    margin-bottom: 0px;
    overflow-wrap: anywhere;
}

.coming-soon {
    margin-top: 70px;
    margin-bottom: 100px;
    font-family: "DinPro Medium", sans-serif;
    font-size: 16px;
}

.phone {
    margin-top: 15px;
    margin-bottom: 0px;
}

.email {
    margin-bottom: 60px;
}

.pc-version {
    display: flex !important;
}

.portrait-version {
    display: none !important;
}

.landscape-version {
    display: none !important;
}

.contact-btn {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-btn a {
    padding: 6px 40px;
    background-color: #003c71;
    color: white;
    -webkit-border-radius: 8rem;
    -moz-border-radius: 8rem;
    -ms-border-radius: 8rem;
    border-radius: 8rem;
    font-size: 14px;
    font-family: "Montserrat Regular", sans-serif;
    cursor: pointer;
    border: 0.1rem solid #003c71;
    text-decoration: none;
    text-align: center;
}

.contact-btn a:hover {
    background: #8bc53f;
    border: 0.1rem solid #8bc53f;
}

.cancel-video {
    position: absolute;
    top: 110px;
    right: 25px;
    width: 40px;
    z-index: 2;
}

.main-bg {
    background-color: #005696;
}

.main-bg-login {
    min-height: calc(100vh - 120px);
    height: calc(100vh - 120px);
    margin-top: 80px;
    padding-bottom: 40px;
    overflow-y: hidden;
    background-color: #005696;
}

.main-bg-login .menu-bg {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100vh - 120px);
    object-fit: cover;
    z-index: -1;
}

.main-bg-login .menu-bg-mobile {
    position: absolute;
    top: 80px;
    width: 100%;
    height: calc(100vh - 120px);
    object-fit: cover;
    display: none;
    z-index: -1;
}

.login-page {
    min-width: 300px;
    width: 30vw;
    z-index: 3;
    padding: 0 15px;
}

.login-page form, .register-group {
    width: 70%;
}

.login-title {
    margin-bottom: 20px;
}

.login-title img {
    height: 100px;
}

.login-title p {
    font-family: "DinPro Medium", sans-serif;
    font-size: 21px;
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 16px;
}

.login-title span {
    font-family: "DinPro", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
}

.login-title .join-desc {
    font-family: "DinPro", sans-serif;
    font-size: 16px;
    text-transform: none;
}

.login-page .form-group .form-control {
    background: #ffffff26;
    border: none;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    border-radius: 10rem;
    box-shadow: none;
    height: 44px;
    font-weight: 400;
    outline: medium none;
    padding-left: 40px;
    padding-right: 40px;
    font-size: 16px;
    font-family: "DinPro", sans-serif;
    line-height: 1.4;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.login-page .form-group .form-control:-webkit-autofill,
.login-page .form-group .form-control:-webkit-autofill:hover,
.login-page .form-group .form-control:-webkit-autofill:focus {
    caret-color: #fff;
    -webkit-text-fill-color: #fff;
    -webkit-box-shadow: 0 0 0px 1000px #212c5840 inset;
    transition: background-color 5000s ease-in-out 0s;
}

.login-page .form-group .form-control:hover,
.login-page .form-group .form-control:focus {
    box-shadow: none;
}

.login-page .form-group .form-control::-webkit-input-placeholder {
    color: #fff !important;
}

.login-page .form-group .form-control::-moz-placeholder {
    color: #fff !important;
}

.login-page .form-group .form-control:-moz-placeholder {
    color: #fff !important;
}

.login-page .form-group .form-control:-ms-input-placeholder {
    color: #fff !important;
}

.login-page .login-button {
    width: 100%;
    height: 44px;
    background: #003366;
    display: block;
    color: #ffffff;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    border-radius: 10rem;
    font-size: 16px;
    font-family: "DinPro", sans-serif;
    border: none;
    cursor: pointer;
}

.login-page .send-button {
    font-size: 16px;
}

.login-page .login-button:hover {
    background: #00a9ea!important;
    color: #ffffff !important;
    border-color: #003366 !important;
}

.login-page .login-button:focus,
.login-page .login-button:active {
    background: #003366;
    color: #ffffff;
    border-color: #003366 !important;
    outline: none;
    box-shadow: none;
}

.login-page .login-button.disabled,
.login-page .login-button:disabled,
.login-page .login-button[disabled] {
    opacity: 1 !important;
}

.login-page .login-button span {
    font-family: "DinPro Bold", sans-serif;
}

.devices-img {
    margin-top: 20px;
}

.login-page a {
    font-family: "DinPro", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 10px;
}

/* The checkbox container */
.checkbox-container {
    display: flex;
    align-items: center;
    position: relative;
    margin: 0;
    cursor: pointer;
    font-size: 16px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Hide the browser's default checkbox button */
.checkbox-container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

/* Create a custom checkbox button */
.checkbox-circle {
    position: absolute;
    width: 16px;
    height: 16px;
    border-radius: 50% !important;
    border: 1px solid #003366;
    background: #003366;
    display: inline-block;
    padding: 0;
    vertical-align: middle;
    transition: border 0.2s ease-in-out;
}

/* On mouse-over, add a grey background color */
.checkbox-container:hover input~.checkbox-circle {
    border: 1px solid #00a9ea;
    background: #00a9ea;
}

.checkbox-container input:disabled~.checkbox-circle {
    background-color: #ccc;
}

/* When the checkbox button is checked, add a blue background */
.checkbox-container input:checked~.checkbox-circle {
    border: 1px solid #00a9ea;
    background: #00a9ea;
    box-shadow: 0 0 0 1px #00a9ea;
    transition: background 0.2s ease-in-out;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.checkbox-circle:after {
    content: "";
    position: absolute;
    display: none;
}

/* Show the indicator (dot/circle) when checked */
.checkbox-container input:checked~.checkbox-circle:after {
    display: block;
}

/* Style the indicator (dot/circle) */
.checkbox-container .checkbox-circle:after {
    top: 9px;
    left: 9px;
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.checkbox-name {
    display: inline-block;
    font-size: 12px;
    margin: 0 0 0 24px;
    font-family: "DinPro", sans-serif;
}

.chatbot-modal {
    background-color: rgba(0, 51, 102, 0.5);
}

.chatbot-modal .modal-section {
    width: 320px;
    height: 340px;
    overflow: hidden;
    border-radius: 15px;
}

.chatbot-modal .modal-header {
    height: 80px;
    background-color: #00c6ff;
    color: white;
    display: flex;
    align-items: center;
    justify-content: left;
    gap: 15px;
    padding-left: 20px;
}

.chatbot-modal .modal-header .chatbot-logo {
    width: 40px;
}

.chatbot-modal .modal-header span {
    font-family: "DinPro Medium", sans-serif;
    font-size: 21px;
}

.chatbot-modal .modal-header .close-but {
    position: absolute;
    top: 5px;
    right: 5px;
}

.chatbot-modal .modal-header .close-but img {
    width: 22px;
}

.chatbot-modal .modal-content {
    height: 180px;
    border: none;
    padding: 20px;
    font-size: 16px;
    font-family: "DinPro", sans-serif;
}

.chatbot-modal .modal-content .chat-group {
    display: flex;
    gap: 10px;
    align-items: flex-start;
    text-align: justify;
}

.chatbot-modal .modal-content .chat-group img {
    width: 22px;
}

.chatbot-modal .modal-content .chat-group .chat-description {
    margin-top: 15px;
}

.chatbot-modal .modal-footer {
    height: 80px;
    border: none;
    background-color: #338dc9;
    color: white;
    padding: 20px;
    position: relative;
    font-size: 16px;
    font-family: "DinPro", sans-serif;
}

.chatbot-modal .modal-footer .chat-input-section {
    position: absolute;
    left: 20px;
    top: 20px;
    width: calc(100% - 50px);
}

.chatbot-modal .modal-footer .chat-input-section textarea {
    width: 100%;
    background-color: transparent;
    color: white;
    border: none;
    outline: none;
    resize: none;
}

.chatbot-modal .modal-footer .chat-input-section textarea::placeholder {
    color: white;
}

.chatbot-modal .modal-footer .send-icon {
    width: 22px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

/* <-----------start left menu bar style (author:Yu)------------->*/
.left-menubar {
    position: fixed;
    width: 300px;
    height: calc(100vh - 120px);
    left: -300px;
    top: 80px;
    background-color: #338dc9;
    padding: 40px 40px;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: translateX(-100%);
    z-index: 101;
    overflow-y: auto;
}

.left-menubar .close-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
}

.left-menubar.open {
    left: 0;
    transform: translateX(0%);
}

.left-menubar .lang-section .lang-item {
    font-family: 'DinPro Medium', sans-serif;
    font-size: 16px;
    line-height: 32px;
}

.left-menubar .lang-section .lang-item a.item {
    cursor: pointer;
    transition: .3s;
    color: white;
    text-decoration: none;
}

.left-menubar .lang-section a.item.active {
    color: #003366;
}

.left-menubar .lang-section .lang-item a.item:hover {
    color: #003366;
    transition: .3s;
}

/* <-----------end left menu bar style------------->*/

/* <-----------start right menu bar style (author:Yu)------------->*/
.right-menubar {
    position: fixed;
    width: 300px;
    height: calc(100vh - 120px);
    right: -300px;
    top: 80px;
    background-color: #338dc9;
    padding: 40px 40px;
    transition: transform 0.3s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    transform: translateX(100%);
    z-index: 101;
    overflow-y: auto;
}

.right-menubar .close-icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    right: 30px;
    top: 30px;
}

.right-menubar.open {
    right: 0;
    transform: translateX(0%);
}

.right-menubar .lang-section {
    margin-bottom: 16px;
}

.right-menubar .lang-section .lang-item {
    font-family: 'DinPro Medium', sans-serif;
    font-size: 16px;
    line-height: 32px;
}

.right-menubar .lang-section .lang-item a.item {
    cursor: pointer;
    transition: .3s;
    color: white;
    text-decoration: none;
}

.right-menubar .lang-section a.item.active {
    color: #003366;
}

.right-menubar .lang-section .lang-item a.item:hover {
    color: #003366;
    transition: .3s;
}

/* <-----------end right menu bar style------------->*/

@media only screen and (max-width: 1080px) {
    #text-container {
        margin-top: 50px;
    }

    .landing-text {
        line-height: 45px;
        font-size: 28px;
    }

    .pc-version {
        display: none !important;
    }

    .portrait-version {
        display: none !important;
    }

    .landscape-version {
        display: flex !important;
    }

    footer .office-section {
        margin-bottom: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
        border-bottom: 1px solid white;
        border-left: 0px;
        border-right: 0px;
    }

    #footer-content {
        max-height: 60vh;
        overflow: scroll;
    }

    .footer-title {
        margin-left: 0px;
    }

    .footer-content {
        margin-left: 0px;
    }

    footer .social-section .icon-section {
        margin-left: 0px;
    }

    .office-modal-content {
        width: 65vw;
    }

    .login-section {
        width: 70%
    }

    .login-page {
        width: 100%
    }

}

@media only screen and (max-width: 575.98px) {

    .container-fluid {
        padding-left: 10px;
        padding-right: 10px;
    }


    .headerSection nav.navbar .navbarItem .navbar-menu-item {
        margin-right: 10px;
    }

    .headerSection nav.navbar .navbarItem .navbar-login-item span {
        display: none;
    }
    .headerSection nav.navbar .navbarItem .navbar-logout-item span {
        display: none;
    }

    .headerSection nav.navbar .navbarItem .navbar-menu-item span {
        display: none;
    }

    .navbar-brand {

        margin-right: 10px;
    }

    .navbar-brand img {
        width: 40px;
        height: 40px;
    }

    .video-section {
        display: none;
    }

    .video-section-mobile {
        display: block;
    }

    .main-bg-login .menu-bg {
        display: none;
    }

    .main-bg-login .menu-bg-mobile {
        display: block;
    }

    #text-container {
        height: 140px;
    }

    .landing-text {
        line-height: 45px;
        font-size: 28px;
    }

    .continue {
        margin-top: 50px;
    }

    #footer {
        padding-left: 15%;
        padding-right: 15%;
    }

    #footer-content {
        max-height: 80vh;
        overflow: scroll;
    }

    .footer-title {
        font-size: 16px;
        margin-left: 0px;
    }

    .footer-content {
        font-size: 14px;
        margin-top: 5px;
        margin-left: 0px;
    }

    footer .legal-section {
        margin-top: 15px;
        margin-bottom: 15px;
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 0px;
        margin-left: 0px;
        width: 100%;
        border-top: 1px solid white;
        border-bottom: 1px solid white;
    }

    footer .office-section {
        padding-left: 0px;
        margin-left: 0px;
        margin-right: 0px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        width: 100%;
        border-right: none;
        border-left: none;
        border-bottom: none;
    }

    footer .social-section {
        padding-left: 0px;
        width: 100%;
    }

    footer .social-section .icon-section {
        margin-left: 0px;
    }

    footer .social-section .icon-section .social-icon {
        margin-top: 10px;
        margin-bottom: 10px;
    }

    footer .office-section .country-column {
        padding-left: 0px;
        width: 50%;
    }

    footer .office-section .right {
        padding-left: 50px;
    }

    .modal-section {
        width: 90vw;
        height: 80vh;
    }

    .modal-content {
        padding: 30px;
        padding-top: 0;
        height: calc(80vh - 60px);
    }

    .modal-header {
        height: 30px;
        padding: 0;
    }

    .modal-header .close-but {
        top: 5px;
        right: 5px;
    }

    .office-modal-content {
        width: 90vw;
    }

    .arrow-section {
        width: 15%;
    }

    .information-section {
        width: 70%;
    }

    .mod-title {
        margin-left: 25px;
    }

    .cookie-btn {
        width: 60%;
        margin-bottom: 8px;
        margin-right: 0px;
        padding-top: 7px;
        padding-bottom: 7px;
    }

    .btn-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .mod-subtext {
        text-indent: 0em;
        padding-left: 0.5em;
    }

    .office-modal-content {
        flex-direction: column;
    }

    .logo-section {
        width: 100%;
    }

    .country-name {
        margin-top: 30px;
    }

    .logo-white {
        width: 40%;
        margin-bottom: 30px;
    }

    .office-info-section {
        width: 100%;
    }

    .city {
        margin-top: 30px;
    }

    .arrow-section {
        position: relative;
    }

    .coming-soon {
        margin-bottom: 70px;
    }

    .cancel {
        top: 25px;
    }

    .video-modal-content {
        position: absolute;
        padding: 0px;
        width: 100vw;
        height: auto;
    }

    .intro-video {
        width: 100%;
        height: auto;
    }

    .pc-version {
        display: none !important;
    }

    .portrait-version {
        display: flex !important;
    }

    .landscape-version {
        display: none !important;
    }

    .login-section {
        width: 90%;
    }

    .login-page {
        min-width: 100%;
        width: 100%;
    }

    .login-page form, .register-group {
        width: 100%;
    }

    .right-menubar {
        width: 100%;
    }

    .left-menubar {
        width: 100%;
    }
}

.form-group .combodate {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.form-group select.day,
.form-group select.month,
.form-group select.year {
    background: #04246b40;
    border: none;
    -webkit-border-radius: 10rem;
    -moz-border-radius: 10rem;
    -ms-border-radius: 10rem;
    border-radius: 10rem;
    box-shadow: none;
    height: 44px;
    font-weight: 400;
    outline: medium none;
    padding-left: 28px;
    padding-right: 12px;
    font-size: 16px;
    line-height: 1.4;
    color: #fff;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
    width: 32% !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

select.webkit-style {
    background: #ffffff26 url("../images/select-arrows.svg") no-repeat !important;
    background-position: 94% 50% !important;
    background-size: 16px !important;
}

.form-group select option {
    background-color: #2676af;
}

.form-group select {
    margin-right: 4px;
    padding-left: 28px !important;
    padding-right: 8px !important;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
}

.form-group select.small {
    width: 140px;
}

.alert-body-back {
    background: rgba(255, 255, 255, 0.1490196078);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

label.has-error {
    padding: 8px 24px 0 16px;
    font-size: 14px;
    color: #00ffff;
    text-align: left;
    font-family: "DinPro Light", sans-serif;
    margin: 0;
}

label.valid {
    padding: 8px 24px 0 16px;
    font-size: 14px;
    color: #00ffff;
    text-align: left;
    font-family: "DinPro Light", sans-serif;
    margin: 0;
}

.admin-bg {
    background-color: #005696;
}
